.header {
  background-color: #3f4041;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 4rem;
  top: 0;
  width: 100%;
}
.user {
  display: flex;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
}
.avatar {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  background-color: white;
  color: black;
}
.search-bar {
  width: 40%;
  position: relative;
}
.search-box {
  padding: 1rem;
  width: 100%;
  border-radius: 7px;
  outline: none;
}
.search-icon {
  position: absolute;
  color: black;
  top: 1rem;
  right: 1rem;
}
.user-menu {
  background-color: gray;
  padding: 1rem;
  position: absolute;
  top: 3.2rem;
  right: 0.3rem;
  display: none;
}
.show-user-menu {
  display: block;
}
