.message-section {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.send-icon {
  cursor: pointer;
}
.chat-header {
  background-color: #675e5e;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid #675e5e;
}
@media only screen and (min-width: 600px) {
  .chat-section {
    margin: 0rem 20rem;
  }
  .chat-header {
    margin: 0rem 20rem;
  }
}
